---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig } from "@/site.config";
---

<header class="mb-16 flex items-center justify-between" id="main-header">
	<a
		aria-current={Astro.url.pathname === "/" ? "page" : false}
		class="text-xl font-semibold sm:text-2xl"
		href="/"
	>
		{siteConfig.title}
	</a>
	<ThemeToggle />
</header>
